<%= form_with model: model do |form| %>
  <div class="flex">
    <div>
      <%= form.label :name %>
    </div>
    <div class="border ml-05rem pl-05rem">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="text-center pt-1">
    <%= form.submit(
      form.object.persisted? ? "EDIT LIST" : "CREATE   LIST"
    ) %>
  </div>
<% end %>
