<div class="border p-8 flex flex-col justify-center min-w-15rem">
  <div class="border p-8 text-center">
    <h1>EDIT LIST</h1>
  </div>
  <div class="p-8">
    <%= render "form", model: @list %>
  </div>
  <div class="border p-8 text-center flex flex-col ">
   <%= link_to "CANCEL", edit_name_list_path(@list) %>
  </div>
</div>
