<div class="border p-8 flex flex-col justify-center min-w-15rem">
  <div class="border p-8 text-center">
    <h1>NEW LIST</h1>
  </div>
  <div class="py-1rem">
    <%= render "form", model: @list %>
  </div>
  <div class="border p-8 text-center flex flex-col ">
   <%= link_to "CANCEL", lists_path %>
  </div>
</div>
