<h1>Items#edit</h1>
<p>Find me in app/views/items/edit.html.erb</p>
<h1>this is list name: <%= @list.name %> </h1>
<h1>this is the item: <%= @item.name %></h1>
<%= render "form_item", list: @list, item: @item %>
