<h1>Items#show</h1>


<div>
  <h1>Item name: <%= @item.name %> </h1>
  <%= link_to "EDIT", edit_list_item_path(@list, @item) %>
  <br>
  <%= button_to "DELETE", @list, @item, method: :delete, date: { turbo_confirm: "Are you sure?" } %>

  <br>
  <%= link_to "BACK", list_path(@list) %>
</div>
